body {
  background-color: white;
}
  h1 {
  text-align: center;
}
p {
  color: black;
}
h3{
  background-color: black;
  color: white;
  padding: 8px;
}
h4 {
  background-color: #b2f7ef;
  padding: 4px;
  margin-top: 3px;
}

.astyle {
  background-color: #467599;
  margin-left: 64px;
  padding-bottom: 57px;
}
a {
  float: left;
  color: white;
}

#tabs {
  background-color: #b2f7ef;
}
ul {

}

li {
  color: black;
}

.codes {
  background: #ffffff;
  overflow:auto;
  width:auto;
  border:solid gray;
  border-width:.1em .1em .1em .8em;
  padding:.2em .6em;
  font-size: 16px;
}

pre {
  margin: 0;
  line-height: 125%;
}
